input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: block;
}

.navbar {
    padding: .75rem 0;
    background-color: #800101;
}

.navbar-brand {
    padding: .75rem 0;
    color: #bdc9d6;

}

.navbar-brand img {
    max-height: 50px;
}

main {
    min-height: 80vh;
}

.bd-navbar {
    padding: .75rem 0;
    background-color: #7952b3;
}

.bd-navbar .navbar-toggler {
    padding: 0;
    border: 0;
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    color: rgba(255, 255, 255, 0.85);
}

.bd-navbar .navbar-nav .nav-link:hover,
.bd-navbar .navbar-nav .nav-link:focus {
    color: #ffffff;
}

.bd-navbar .navbar-nav .nav-link.active {
    font-weight: 600;
    color: #ffffff;
}

.bd-navbar .navbar-nav-svg {
    width: 1rem;
    height: 1rem;
}

footer {
    background-color: #800101;
    padding: 20px 0;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top: 1px solid #e7e7e7;
    color: #ffffff;
}

.footer-link a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

.footer-link a:hover {
    text-decoration: underline;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-info {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.table th,
.table td {
    vertical-align: middle;
}

.btn-primary {
    background-color: #000f4d;
    border-color: #5000c9;
}

.btn-primary:hover {
    background-color: #006411;
    border-color: #5900ff;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    background-color: #ff031c;
    border-color: #73000c;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}

.btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
}


.product-img {
    height: 200px;
    object-fit: contain;
}

.card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(1, 90, 142, 0.2);

}

.product-detail-img {
    max-height: 400px;
    object-fit: contain;
}

.no-image-placeholder {
    height: 300px;
    background-color: #f8f9fa;
}

.dashboard-title {
    font-weight: bold;
    color: #212529;
    text-transform: uppercase;
}

.hero-image {
    height: 90vh;
    object-fit: cover;
}

.store-logo {
    width: 120px;
    height: 80px;
    object-fit: contain;
}