{% extends 'base.html' %}

{% block content %}
        <div class="container pt-5 mx-auto row text-center">
            <h1 class="fw-bold mb-4">About Fiyat Radar</h1>
            <p class="lead text-muted">
                Fiyat Radar is your ultimate shopping companion. We monitor prices across multiple 
                platforms so you never miss a deal again.
            </p>
            <hr>
        </div>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="fw-bold mb-4">Our Story</h2>
            <p class="text-muted mb-3">
                Founded in 2025, Fiyat Radar was born from a simple idea: shopping shouldn't require hours of research 
                across multiple websites. Our team created a platform that does the 
                heavy lifting for you.
            </p>
            <p class="text-muted mb-3">
                We believe that every customer deserves access to the best prices.
            </p>
            <h2 class="fw-bold mb-4 mt-5">Our Mission</h2>
            <p class="text-muted">
                To empower smart shoppers worldwide by providing lowest price  and helping them make informed 
                purchasing decisions that save time and money.
            </p>
        </div>
    </div>
</div>

{% endblock %}