{% extends 'base.html' %}

{% block content %}
<div class="container-fluid p-0"> 
    <div class="row g-0">
        <div class="col-12">
            <img src="/static/img/home_pic.jpg" class="w-100 img-fluid" style="height: 90vh; object-fit: cover;" alt="Compare Image">
            
            <div class="text-center py-1 my-0 bg-white">
                <h1 class="display-4 fw-bold">The place to be!</h1>
                <p class="lead text-muted">Find the best price among all sellers</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}