<footer class="footer">
    <div class="container text-center">
        <div class="footer-link fw-bold mb-3">
            <a href="{% url 'home' %}">Fiyat Radar</a>
            <a href="{% url 'about' %}">Hakkımızda</a>
            <a href="{% url 'contact' %}">İletişim</a>
            <a href="{% url 'all_products' %}">Tüm Ürünler</a>
            <a href="{% url 'store_list' %}">Mağazalar</a>
        </div>

        <div class="copyright">
            <p class="mb-0 text-light">&copy; 2025 Fiyat Radar. Her hakkı saklıdır.</p>
        </div>
    </div>
</footer>