{% extends 'base.html' %}

{% block content %}

<div>
    <div class="row mb-5 text-center text-muted">
        <div class="col">
            <h3 class="fw-bold mt-4">
                {% if query %}
                    {% if query in products %}
                        "{{ query }}" için sonuçlar
                    {% endif %}
                {% else %}
                    Lütfen isteğinizi kontrol edin.
                {% endif %}
            </h3>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 mb-5">
        {% for product in products %}

        <div class="col-md-3 mb-4 d-flex">
            <div class="card shadow-sm border-1 h-100"> 
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="card-img-top p-3 product-img" 
                         alt="{{ product.name }}">
                {% elif product.image_url %}
                    <img src="{{ product.image_url }}" class="card-img-top p-3 product-img" 
                         alt="{{ product.name }}">
                {% else %}
                    <img src="https://via.placeholder.com/200x200?text=No+image" class="card-img-top p-3 product-img" 
                         alt="No image">
                {% endif %}

                <div class="card-body">
                    <span class="badge bg-dark text-white mb-2">{{ product.category }}</span>
                    <h5 class="card-title text-dark">{{ product.name }}</h5>
                    <p class="card-text text-secondary small">{{ product.description|truncatewords:15 }}</p>
                </div>
                
                <div class="card-footer bg-white border-0 pb-3">
                    <div class="d-grid">
                        <a href="{% url 'product_detail' product.id %}" class="btn btn-primary btn-sm">
                            Fiyatları kontrol et
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}